{{- $type := promptStringOnce . "type" "Is this machine 'private', 'server' or 'other'?" (env "MACHINE_TYPE") -}}
encryption = 'age'

[data]
type = {{ $type | quote }}

{{ if eq $type "private" -}}
[age]
identity = {{ env "MACHINE_IDENTITIES" | quote }}
recipient = 'age1r9dgdskzdtcse86mlj00m409dgn2gpteuuqq3slcfc46pkk8p4nstdhgu0'
{{- end }}
